

@{
    ViewBag.Title = "添加大类";
}


    <link href="~/ueditor/themes/default/ueditor.css" rel="stylesheet" />
    <form class="layui-form layui-form-pane" action="" style="padding-top:20px">
        <div class="layui-form-item">
            <label class="layui-form-label">资讯类型</label>
            <div class="layui-input-block">
                <select id="ddl_Type" name="ddl_Type">
                    <option value="">请选择</option>
                    @foreach (var item in ViewBag.TypeItem)
                    {
                        <option value="@item.RowGuid">@item.ItemName</option>
                    }
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">资讯标题</label>
            <div class="layui-input-block">
                <input type="text" name="txt_Title" autocomplete="off" id="txt_Title" placeholder="请输入资讯标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">摘要</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入摘要" class="layui-textarea" name="txt_OutLine" id="txt_OutLine"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">


                <script type="text/plain" id="myEditor" style="width: 100%;height: 340px;text-align: left;">
                    <p>&nbsp;&nbsp;</p>
                </script>



            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">缩略图</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1">上传缩略图</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1" style="width:800px">
                        <p id="demoText"></p>
                    </div>
                </div>

            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">附件照片</label>
            <div class="layui-input-block">

                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test2">上传附件</button>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        预览图：
                        <div class="layui-upload-list" id="demo2"></div>
                    </blockquote>
                </div>
            </div>
        </div>



        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="btn_ok">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        @*<script src="~/ueditor/third-party/jquery.min.js"></script>


        <script src="~/ueditor/umeditor.config.js" charset="utf-8"></script>
        <script src="~/ueditor/umeditor.js"></script>
        <script src="~/ueditor/lang/zh-cn/zh-cn.js"></script>*@
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/ueditor/ueditor.config.js"></script>


        <script src="~/ueditor/ueditor.all.js"></script>
        <script src="~/ueditor/ueditor.parse.js"></script>

        <script src="~/ueditor/lang/zh-cn/zh-cn.js"></script>
        <script type="text/javascript" src="/layui/layui.js"></script>

        <script type="text/javascript">
       var um = UE.getEditor('myEditor');

        layui.config({
            base: "/js/"
        }).use(['form', 'layer','upload'], function () {
            var form = layui.form,
                layer = layui.layer

            var upload = layui.upload;


            //上传缩略图
            var uploadInst = upload.render({
                elem: '#test1'
                , url: '/Information/AddInformationTitleImg/' //改成您自己的上传接口
                , accept: 'images' //普通文件
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                , data: {
                    guid:'@ViewBag.Guid'
                    }
                , done: function (res) {
                    //如果上传失败
                    if (res.Code == 500) {
                        return layer.msg('上传失败');
                    }
                    else if (res.Code == 200) {
                        return layer.msg('上传缩略图成功!');
                    }
                    //上传成功
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });


            //多图片上传
            upload.render({
                elem: '#test2'
                , url: '/Information/AddInformationImg/'
                , multiple: true
                , accept: 'images' //普通文件
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#demo2').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img" style="width:600px">')
                    });
                }
                 , data: {
                    guid:'@ViewBag.Guid'
                    }
                , done: function (res) {
                    //如果上传失败
                    if (res.Code == 500) {
                        return layer.msg('上传失败');
                    }
                    else if (res.Code == 200) {
                        return layer.msg('上传附件成功!');
                    }
                    //上传成功
                }
            });


            $("#btn_ok").click(function () {
                var type = $("#ddl_Type").val();
                var title = $("#txt_Title").val();
                var outLine = $("#txt_OutLine").val();
                var contentValue = um.getContent();
                var note = $("#txt_Note").val();

                if (type == "") {
                    layer.msg("请选择类型!");
                    return;
                }

                if (title == "") {
                    layer.msg("请输入标题!");
                    return;
                }

                if (contentValue == "") {
                    layer.msg("请输入内容!");
                    return;
                }



                var obj = new Object();
                obj.TypeItemGuid = type;
                obj.Title = title;
                obj.OutLine = outLine;
                obj.ContentValue = contentValue;
                obj.Note = note;
                obj.RowGuid='@ViewBag.Guid'


                GetDataByJson('/Information/Add/', 'Post', { obj: JSON.stringify(obj) }, function (res) {
                    if (res.Code == 200) {
                        layer.msg("添加成功!");
                        window.setTimeout(function () {
                            window.location.reload();

                        },1000)
                    }
                    else {
                        layer.msg(res.Message);
                    }

                })

            })



        })
        </script>


    </form>


